.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 18px 18px;
}

.navbar {
    border: 5px solid rgb(0, 0, 0);
}

ul li {
    float: left;
}

div {
    font-size: 30px;
}

h1 {
    text-align: center;
}


h1 {
    font-size: 450%;
}

.container {
    display: flex;
    flex-direction: row;
}
.container img {
    width: 25%;
    padding-right: 10%;
}

.container1 img {
    width: 25%;
}

.container1 {    
    display:flex;
    flex-direction: row;
}

.container3 img {
    width: 25%;
}

.container3 {    
    display:flex;
    flex-direction: row;
}

.container8 img {
    width: 15%
}

.container8  {    
    display:flex;
    flex-direction: row;
}

body {
    background-color: #ffe5eb;
}

.navbar {
    background-color: white;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-materials {
    width: 25%;
}
.container-materials img {
    width: 100%;
}